# Don't store specific Vagrant stuffs
vagrant-ssh
.vagrant

# Don't store OS or other ISOs
*.iso

# Custom configuration and data files (don't store as they could leak sensitive information)
*.ini
*.json
*.pkrvars.hcl

# macOS specific datafiles don't need to be stored
.DS_Store

# Don't store my ansible config files
*ansible.cfg

# Don't store variables files
*vars.yml

# Don't store logfiles
*.log
