# Specific groups of hosts can be invoked using the -l switch with ansible-playbook.
#   ansible-playbook -i hosts.ini -l cluster....
#
# Number of forks can be specified in the ansible.cfg file:
#   [defaults]
#   forks = nn
# Or by passing an argument to the ansible-playbook command:
#   ansible-playbook -f nn
[services]
foo1.local ansible_user=fe

[retro]
foo2.local ansible_user=fi

[cluster1]
node1.local ansible_user=fo
node2.local ansible_user=fo
node3.local ansible_user=fo
node4.local ansible_user=fo

[cluster2]
node5.local ansible_user=fum
node6.local ansible_user=fum
node7.local ansible_user=fum
node8.local ansible_user=fum

[clusters:children]
cluster1 ansible_user=fe
cluster2 ansible_user=fe
