# Specific groups of hosts can be invoked using the -l switch with ansible-playbook.
# Ex:     ansible-playbook -i hosts.ini -l cluster....
[services]
foo1.local

[retro]
foo2.local

[cluster]
node1.local
node2.local
node3.local
node4.local
node5.local
node6.local
node7.local
node8.local
