screen win/640/480
seriala /dev/cu.BLTH
serialb /dev/null
udptunnel false
udpport 6066
bootdrive 0
bootdriver 0
ramsize 67108864
frameskip 0
modelid 5
cpu 1
fpu false
nocdrom true
nosound true
noclipconversion false
nogui false
jit false
jitfpu true
jitdebug false
jitcachesize 8192
jitlazyflush true
jitinline true
keyboardtype 5
mousewheelmode 0
mousewheellines 0
dsp 
mixer 
ignoresegv true
idlewait false
displaycolordepth 0
hotkey 0
scale_nearest false
scale_integer false
yearofs 0
dayofs 0
mag_rate 0
swap_opt_cmd false
sound_buffer 0
name_encoding 0
delay 0
init_grab false
